@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS */
  ---primary-color: #b7ab98;
  ---primary-color-fade: hsl(41deg 21% 64% / 50%);
  ---secondary-color: #0d0d0d;
  ---accent-color: #eb5939;
  ---line-color: rgba(77, 77, 77, 0.5);
  /* GRADIENTS */
  --fade-bottom: linear-gradient(#000, rgba(255, 255, 255, 0));
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(---primary-color);
  background: #1e1e1e
    radial-gradient(
      61.36% 61.36% at 50% 50%,
      var(---secondary-color) 0%,
      rgba(13, 13, 13, 0) 100%
    )
    no-repeat;
  min-height: 100vh;
}

@layer base {
  * {
    @apply focus-visible:outline-accent focus-visible:outline-none focus-visible:outline-1;
  }

  body {
    @apply text-sm sm:text-base;
  }

  mark {
    @apply bg-transparent text-highlight;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    @apply heading uppercase;
  }

  .h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
  }
  .h2 {
    @apply text-xl sm:text-2xl md:text-4xl lg:text-5xl;
  }
  .h3 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-4xl;
  }
  .h4 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl;
  }
  .h5 {
    @apply sm:text-base tracking-[0.24em];
  }

  .body {
    @apply font-body font-normal normal-case;
  }
}

@layer utilities {
  .heading {
    @apply font-heading font-black leading-none;
  }

  .fade-bottom {
    background: var(--fade-bottom);
  }

  .text-highlight {
    @apply text-accent font-medium;
  }

  .opacity-change {
    @apply opacity-50 hover:opacity-100 focus-within:opacity-100 active:opacity-100 transition-opacity duration-500;
  }

  .active-link {
    @apply opacity-100;
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer components {
  .container-lg {
    @apply w-full px-6 md:px-12 lg:px-24 mx-auto;
  }
  .container-lg-left {
    @apply w-full pl-6 md:pl-12 lg:pl-24;
  }
  .container-sm {
    @apply w-full px-6 sm:px-20 md:px-32 lg:px-48 xl:px-64 mx-auto;
  }

  .section {
    @apply w-full h-screen flex flex-col justify-center mx-auto py-32 snap-center;
  }

  .after-text::after {
    @apply absolute bottom-8 left-1/2 -translate-x-1/2 heading opacity-30 text-xs;
  }

  .text-fill {
    @apply relative;
  }
  .text-fill::before {
    content: attr(data-text);
    @apply absolute top-[3px] left-0 text-primary hidden w-0;
    transition: width 400ms;
  }

  .stack {
    @apply cursor-pointer;
  }

  .stack:hover,
  .stack:focus,
  .stack-visible {
    @apply text-secondary;
  }

  .stack:hover .stack-bg,
  .stack:focus .stack-bg,
  .stack-visible .stack-bg {
    @apply h-full;
  }

  .stack:hover .stack-skills,
  .stack:focus .stack-skills,
  .stack-visible .stack-skills {
    @apply scale-x-100;
  }

  .stack-bg {
    @apply transition-all duration-500;
  }
}
